<html>

<head>
     {% comment %} 要想用到名字叫'static'所指向的地方，即settings.py里设置的STATICFILES_DIRS = [os.path.join(BASE_DIR, 'static')]
    那就必须先要load进到base.html里让html知道我在用这个alias  {% endcomment %}
    {% load static %}
    {% comment %} <!-- 编码方式 --> {% endcomment %}
    <meta charset="utf-8">
    {% comment %} <!-- 如果在手机上看，应该怎么样的scale --> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tommy Instagram Similator</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome-4.6.3/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    {% comment %} 可见，{% load static %}可以在<head>之外globally load {% endcomment %}
    {% load static %}
    {% comment %} 我们希望每个页面的最上方都有一个header的样式，所以写进一个header.html，
        以后每个别的html都include一下就行: segregation of duties  {% endcomment %}
    {% include 'header.html' %}


    <div class="content-wrapper">
        <div class="container">
            {% block content %}
            {% endblock content%}
        </div>
    </div>

    {% comment %} <!-- 把bootsrap等外包include --> {% endcomment %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax-csrf-auth.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

    {% comment %} <!-- 就如block content一样 --> {% endcomment %}
    {% block extrascript %}
    {% endblock %}

</body>

</html>