{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

<div class="cards-listing">
    <!-- loop一遍传入到这个界面的object_list -->
    {% for post in object_list %}
    <!--bootstrap里的一个很重要的component。bootstrap把一个界面当作一个grid：这样把一个界面有序化，当作一列列地看
        另外一点：在我放大缩小browser窗口的时候，假如我把一个page分成三个cols, 它们会随着我的窗口放大缩小而等例放生形变
        不管怎么变，这三个cols都会只占当前窗口大小等1/3，除非缩小到一个limit, 它们三个才会噌一下变成上下排列关系 -->
    <div class="row">
        <div class="card view-update {{ post.pk }}">

            <!-- 用户信息 -->
            <div class="card__panel-head">
                <div class="poster__info">
                    <a href="{% url 'Bello Papagena' %}" class="poster__name">
                        {% if post.author.profile_pic %}
                        <img class="poster__profilepic" src="{{ post.author.profile_pic.url }}">
                        {% endif %}
                        {{ post.author.username }}
                    </a>

                </div>
            </div>


            <a href="{% url 'post_detail' post.pk %}">
                <img class="card__main-image" src="/{{ post.image.url }}">
            </a>


            <div class="card__panel-body">
                <!-- 点赞部分 -->
                <div class="likes">
                    {% if post.get_like_count %}
                    {{ post.get_like_count }} like{% if post.get_like_count > 1 %}s{% endif %}
                    {% endif %}
                </div>
                <!-- 我想让用户点赞或者取消赞后，只有小爱心和赞的数量发生改变。如果用view.py来实现的话，整个page都要render一遍
                    所以这时候就需要用ajax来做局部渲染 : single page applcation -->
                <section class="input-row">
                    <!-- has_user_liked_post是个我自己定义的template, 传入两个参数post, user。
                        定义在Insta/templatetags/custome_tags.py里。
                        这样的话我自己的template language就和Django的template language url, if, for... 那些tag一样可以使用了
                        return的东西是什么都定义在has_user_liked_post里了 -->
                    <i class="fa {% has_user_liked_post post user %} submit-like" aria-hidden="true"></i>
                    <!-- 这段hidden-data用户看不到，但是为了index.js里能调用
                            var post_pk = $(this).siblings('.hidden-data').find('.post-pk').text();
                         时拿得到 （这里到this，当前的object, 是submit-like, 它的sibling中有一个叫做hidden-data, 
                         再往里头找class = post.pk 里的东西，然后找到了 {_{_post.pk_}_}, convert to text, save it to vat -->
                    <div class="hidden-data {{ post.pk }}" style="display: none;">
                            <span class="post-pk">{{ post.pk }}</span>
                    </div>
                </section>

                
                <!-- 评论部分 -->
                {% comment %}
                <ul class="comment-list">
                    <a class="view-more"></a>
                    {% for comment in post.comments.all %}
                    <li class="comment-list__comment">
                        <a href="{% url 'profile' comment.user.pk %}" class="user">
                            {{ comment.user.username }}
                        </a>
                        <span class="comment">{{ comment.comment }}</span>
                    </li>
                    {% endfor %}
                </ul>

                <section class="input-row">
                    <i class="fa {% has_user_liked_post post user %} submit-like" aria-hidden="true"></i>
                    <div class="comment-input-wrapper">
                        <input class="add-comment" type="text" placeholder="Add a comment...">
                    </div>
                    <div class="hidden-data {{ post.pk }}" style="display: none;">
                        <span class="post-pk">{{ post.pk }}</span>
                    </div>
                </section>                   
                {% endcomment %}
                

            </div>




        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}