{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

<div class="row single-post">
    <div class="single-post-card view-update {{ object.pk }}">

        <!-- 显示用户信息 -->
        <div class="header">
            <a href="{% url 'Bello Papagena' %}">
                <!-- 如果user有profile_pic, 显示出来 -->
                {% if object.author.profile_pic %} 
                    <img class="picture-circle--medium" src="/{{object.author.profile_pic.url}}">
                {% endif %}
                {{ object.author.username }}
            </a>
        </div>


        <div class="image__wrapper">
            <img class="card__main-image" src="/{{object.image.url}}" width='1000', height='1000'>
        </div>


        <div class="comments-portion">
            <div class="likes-timestamp-row">
                <div class="likes">
                    {% if object.get_like_count %}
                        {{ object.get_like_count }} like{% if object.get_like_count > 1 %}s{% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- 这是一个与页面交互用的class: input-row -->
            <section class="input-row">
                <!-- 如果我点赞了，显示小爱心；否则显示小灰心 -->
                <i class="fa {% has_user_liked_post object user %} submit-like" aria-hidden="true"></i>
            </section>

        </div>
    </div>
</div>

{% endblock content %}